
<link href="/assets/css/AcesUp.css" rel="stylesheet">
<link href="/assets/css/custom.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>


<body>

<div id="container">
    <h1>Blackjack!</h1>

    <div id="largeTable">
        <table class="mainTable">
            <tr class="title">
                <td>User Hand</td>
                <td>Split</td>
                <td></td>
                <td>Dealer Hand</td>
            </tr>

            <tr>
                <td class="columnOfCards" id="userHand">
                    <table>
                        <tr><td class="cardLocation l0"></td></tr>
                        <tr><td class="cardLocation l1"></td></tr>
                        <tr><td class="cardLocation l2"></td></tr>
                        <tr><td class="cardLocation l3"></td></tr>
                        <tr><td class="cardLocation l4"></td></tr>
                        <tr><td class="cardLocation l5"></td></tr>
                        <tr><td class="cardLocation l6"></td></tr>
                        <tr><td class="cardLocation l7"></td></tr>
                        <tr><td class="cardLocation l8"></td></tr>
                        <tr><td class="cardLocation l9"></td></tr>
                        <tr><td class="cardLocation l10"></td></tr>
                    </table>
                </td>
                <td class="columnOfCards" id="userSplit">
                    <table>
                        <tr><td class="cardLocation l0"></td></tr>
                        <tr><td class="cardLocation l1"></td></tr>
                        <tr><td class="cardLocation l2"></td></tr>
                        <tr><td class="cardLocation l3"></td></tr>
                        <tr><td class="cardLocation l4"></td></tr>
                        <tr><td class="cardLocation l5"></td></tr>
                        <tr><td class="cardLocation l6"></td></tr>
                        <tr><td class="cardLocation l7"></td></tr>
                        <tr><td class="cardLocation l8"></td></tr>
                        <tr><td class="cardLocation l9"></td></tr>
                        <tr><td class="cardLocation l10"></td></tr>
                    </table>
                </td>
                <td class="columnOfCards"></td>
                <td class="columnOfCards" id="dealerHand">
                    <table>
                        <tr><td class="cardLocation l0"></td></tr>
                        <tr><td class="cardLocation l1"></td></tr>
                        <tr><td class="cardLocation l2"></td></tr>
                        <tr><td class="cardLocation l3"></td></tr>
                        <tr><td class="cardLocation l4"></td></tr>
                        <tr><td class="cardLocation l5"></td></tr>
                        <tr><td class="cardLocation l6"></td></tr>
                        <tr><td class="cardLocation l7"></td></tr>
                        <tr><td class="cardLocation l8"></td></tr>
                        <tr><td class="cardLocation l9"></td></tr>
                        <tr><td class="cardLocation l10"></td></tr>
                    </table>
                </td>
            </tr>
            <tr class="menuDes">
                <td>Cash:<div id="cash" style="background-color:black; color:white; padding:20px;">100</div></td>
                <td><button id="hit" onclick="hitClick()">HIT</button><BR><input type="text" id="hitCol"></td>
                <td><button id="ddown" onClick="ddownClick()">DOUBLE DOWN</button><BR><input type="text" id="ddownCol"></td>
                <td><button id="split" onClick="splitClick()">SPLIT</button></td>
                <td><button id="stay" onClick="stayClick()">STAY</button><BR><input type="text" id="stayCol"></td>
                <td><button id="userBet" onclick="betClick()">BET</button><BR><input type="text" id="betCol"></button><BR><input type="text" id="betAmnt"></td>
            </tr>
            <tr>
                <td>Blackjack Simulator 1.0</td>
                <td id="errorCode"> </td>
            </tr>
        </table>
    </div>
    <script>

var game;

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");
    $.each(game.cols[0], function( key, val ) {
        $( '#userHand .l'+key ).html(val.value + val.suit);
    });
    $.each(game.cols[1], function( key, val ) {
        $( '#userSplit .l'+key ).html(val.value + val.suit);
    });
    $.each(game.cols[2], function( key, val ) {
        $( '#dealerHand .l'+key ).html(val.value + val.suit);
    });
 document.getElementById("cash").innerHTML = game.totalCash;
 document.getElementById("errorCode").innerHTML = game.errorCode;
 document.getElementById("errorCode").style.color = "red";

}

$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});

function hitClick(){
var theCol = document.getElementById("hitCol").value;
window.alert(theCol);

$.ajax({
  type: "POST",
  url: "/hit/"+theCol,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
}


function betClick(){
var theBet = document.getElementById("betCol").value;
var theAmnt = document.getElementById("betAmnt").value;
$.ajax({
    type: "POST",
    url: "/bet/"+theBet+"/"+theAmnt,
    data: JSON.stringify(game),
    success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
    contentType:"application/json; charset=utf-8",
    dataType:"json",
});
}


function ddownClick(){
var theCol = document.getElementById("ddownCol").value;

$.ajax({
  type: "POST",
  url: "/ddown/"+theCol,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
}

function splitClick(){
$.ajax({
  type: "POST",
  url: "/split",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
}

function stayClick(){
var theCol = document.getElementById("stayCol").value;
$.ajax({
  type: "POST",
  url: "/stay/"+theCol,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
}


</script>


</div>
</body>
</html>